.user_list {
	flex: 4;
}

table {
	width: 80%;
	margin: 0 auto;
	text-align: right;
	border-collapse: collapse;
	border: 0.3px solid #ffd7d7;
}

tr,
td {
	padding: 8px;
}

th {
	padding: 8px;
	background-color: #ffd7d7;
}

tr {
	border-bottom: 0.3px solid #ffd7d7;
}
