.user_list {
	flex: 4;
}

.user-list-btn {
	background: #fff;
	padding: 4px 8px;
	border-radius: 4px;
	color: #5db900;
	cursor: pointer;
	font-size: 1em;
	border: 1px solid #5db900;
	margin-right: 20px;
}

.user-list-btn:hover {
	color: #fff;
	background-color: #5db900;
}

.user-list-delete {
	color: var(--primary-color);
	cursor: pointer;
}
